body {
	margin: 0px;  
	padding: 0px;  
}  

canvas{  
	outline: 0;  
	border: 1px solid #000;  
	margin-left: auto;  
	margin-right: auto;  
	background-color: #dddddd;
}  

#images {
	display: none;
}

