body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.hero-wrapper{
    width: 540px;
    margin: 0px auto;
    padding: 50px 0 0 50px;
}
.hero-wrapper .main-search {
    padding-top: 40px;
}
.hero-wrapper .main-search .searchBar {
    width: 50%;
}
.hero-wrapper .main-search .searchLinks {
    width: 25%;
    text-align: right;
}
a.header-link {
    color: #999999;
}
.start-end-separator {
    display: inline-block;
    margin-left: -10px;
    margin-right: 10px;
}
.movie-row {
    padding-bottom: 10px;
}
.movie-img {
    padding-right: 10px;
}
.movie-detail {
    margin-top: 10px;
    width: 45px;
}
.movie-detail-img {
    padding-right: 20px;
}
.movie-detail-footer {
    max-height: 120px; 
    overflow-y: auto;
}
.movie-detail-review {
    padding-top: 10px;
}