body {
    padding-top: 10px;
    padding-bottom: 10px;
}
a.header-link {
    color: #999999;
}
.main-search {
    padding-top: 20px;
}
.start-end-separator {
    display: inline-block;
    margin-left: -15px;
    margin-right: 5px;
}
.movie-row {
    padding-bottom: 10px;
}
.movie-img {
    padding-right: 10px;
}
.movie-detail {
    margin-top: 10px;
    width: 45px;
}
.movie-detail-img {
    padding-right: 20px;
}
.movie-detail-footer {
    max-height: 120px; 
    overflow-y: auto;
}
.movie-detail-review {
    padding-top: 10px;
}